CONFIG_ARCH_HISI=y
CONFIG_HISI_HIKEY_USB=y
CONFIG_PHY_HI3660_USB=y
CONFIG_HISI_THERMAL=y
CONFIG_PCIE_KIRIN=y
CONFIG_PCI_HISI=y
CONFIG_MFD_HI6421_PMIC=y
CONFIG_MFD_HI6421_SPMI=y
CONFIG_REGULATOR_HI6421=y
CONFIG_REGULATOR_HI6421V530=y
CONFIG_REGULATOR_HI6421V600=y
CONFIG_MFD_HI655X_PMIC=y
CONFIG_REGULATOR_HI655X=y
CONFIG_GPIO_HISI=y
CONFIG_INPUT_HISI_POWERKEY=y
CONFIG_HW_RANDOM_HISI=y
CONFIG_HISI_PMU=y
CONFIG_PCIE_HISI_ERR=y
CONFIG_OVERLAY_FS=y
CONFIG_MEMCG=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_USER_NS=y
CONFIG_DRM_HISI_KIRIN=m
